/* ------- colors ----------- */

:root{
    --clr-blue: #091F43;
    --clr-lightBlue: #1B5ECB;
    --clr-darkBlue: #00001d;

    --clr--red: #D1515A;
    --clr-lightRed: #ff8287;
    --clr-darRed: #9b1d31;

    --clr-green: #157145;

    --clr-grey: #D9D9D9;
    --clr-lightGrey:#ebebeb;
    --clr-grey--transparent: rgba(217,217,217,0.8);

    --clr-white: #ffffff;
    --clr-black: #000000;
}

/* -------- reset ---------- */

*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
div,
h1,
h2,
h3,
p,
ul,
li{
    margin: 0;
}

h2,
h3{
    margin-bottom: 0.7em;
}

ul{
    list-style: none;
    padding: 0;
}

a{
    text-decoration: none;
}

a:link, a:visited{
    color: #ffffff;
}

.hidden{
    visibility: hidden;
}

.hide{
    display:none;
}


/* ------------- Elements de la page ---------------- */

body{
    font-size: 1.3125rem;
    background-color: var(--clr-grey);
}

.page__container--profil, .page__container--home{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (min-width:900px){
    .page__container--profil, .page__container--home{
        flex-direction: row;
        flex-wrap: wrap;
    }
}

/* ------------- header -------- */

header{
    align-items: center;
    background-color: var(--clr-blue);
    display: flex;
    text-align: center;
}

header h1{
    margin: 0.7em auto;
    width: 70%;
}

.header__logo{
    max-width: 100%;
}

.header--nav{
    flex-direction: column;
}

.header--nav h1{
    margin-bottom: 0;
}

.header__nav{
    display: flex;
    flex-direction: column;
    margin-bottom: 0.7em;
}

.header__nav a{
    margin-bottom: 0.5em;
}

nav a:hover{
    border-bottom: 2px solid var(--clr-white);
}

@media (min-width:900px){
    .header--nav{
        flex-basis: 100%;
    }

    .header__nav{
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
    }

}

/* ------------ main -------------- */

main{
    position: relative;
}


@media (min-width:700px){
    .main__profil, .main__home{
        margin-inline: auto;
        width: 90%;
    }
}


@media (min-width:900px){
    .main__profil, .main__home{
        margin-inline: 0;
        width: 50%;
    }
}

@media (min-width:1440px){
    .main__profil, .main__home{
        width: 40%;
    }
}

@media (min-width:1800px){
    .main__profil, .main__home{
        width: 30%;
    }
}


/* ------ page index --------- */

.auth__forms{
    margin: auto;
    text-align: center;
    width: 90%;
}

.auth__form{
    background-color: var(--clr-white);
    box-shadow: 5px 5px 25px 1px #000000;
    margin: 1.5em 0;
    padding: 1.5em 0;
    width: 100%;
}

.auth__form h2{
    color: var(--clr-blue);
    margin-top: 0.7em;
}

.auth__form form{
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    width: 80%;
}

.auth__link{
    margin: 2em auto;
}

.auth__link a{
    color: var(--clr-blue);
    border-bottom: 1px solid var(--clr-blue);
}

.auth__link a:hover{
    color: var(--clr-lightBlue);
    border-bottom: 1px solid var(--clr-lightBlue);
}

.form__input-text{
    font-size: 1rem;
    height: 2em;
    margin: 1em 0;
    padding: 0.2em;
}

.form__input-textarea{
    height: 13rem;
}

.form__input-file{
    font-size: 1rem;
    height: 2em;
    margin: 1em 0;
    padding: 0.2em;
}

.form__input-text--white{
    box-shadow: 1px 1px 20px 1px var(--clr-black);
}

.form__input-text--red{
    box-shadow: 1px 1px 20px 1px var(--clr-white);
}

.form__input-text--white:focus{
    box-shadow: 5px 5px 20px 5px var(--clr-blue);
}

.form__input-text--red:focus{
    box-shadow: 5px 5px 20px 5px var(--clr-white);
}

.button{
    cursor: pointer;
    border-radius: 2em;
    font-size: 1.1rem;
    font-weight: bold;
    height: fit-content;
    margin: 1em auto;
    padding: 1em;
    min-width: 10em;
}

.button--blue{
    background: linear-gradient(45deg, var(--clr-blue), var(--clr-lightBlue));
    box-shadow: 2px 2px 10px 1px #000000;
    color: var(--clr-white);
}

.button--white{
    box-shadow: 2px 2px 10px 1px #000000;
}

.button--blue:hover, .button--blue:focus{
    opacity: 0.7;
    box-shadow: 5px 5px 25px 1px #000000;
}

.button--white:hover, .button--white:focus{
    background-color: var(--clr-grey) ;
    box-shadow: 5px 5px 25px 2px #ffffff;
}

.button--show{
    z-index: 33;
}

.button--hide{
    position: absolute;
    opacity: 0;
    z-index: -1;
}

hr{
    border: 1px solid var(--clr--red);
    height: 2px;
    margin: 2em auto;
    width: 18em;
}

/* ------ page profil --------- */

.profil__hello,
.profil__avatar,
.profil__form,
.profil__password,
.profil__delete{
    margin-top: 1em;
    margin-bottom: 1em;
}

.profil__infos{
    background-color: var(--clr-white);
    box-shadow: 1px 1px 20px 1px var(--clr-black);
    margin-top: 1.4em;
    padding-top: 0.5em;
}

.profil__hello{
    text-align: center;
}

.profil__form{
    margin-inline: auto;
    width: 90%;
}

.profil__form form{
    display: flex;
    flex-direction: column;
}

.profil__buttons{
    display: flex;
    justify-content: center;
}

.profil__password{
    background-color: var(--clr--red);
    border-radius: 1em;
    margin-inline: auto;
    text-align: center;
    width: 90%;
}

.profil__password h3{
    color: var(--clr-white);
    padding-top: 0.7em;
}

.profil__password form{
    display: flex;
    flex-direction: column;
    margin-inline: auto;
    width: 90%;
}

.profil__delete{
    border-top: 2px solid var(--clr--red);
    display: flex;
    margin-inline: auto;
    width: 80%;
}

/* ------ modal delete profil-------- */

.modal{
    background-color: var(--clr-grey--transparent);
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 101;    
}

.modal > *{
    background-color: var(--clr-white);
    box-shadow: 2px 2px 20px 5px var(--clr-black);
    position: fixed;
    text-align: center;
    top: 15vh;
    width: 90vw;
}

.modal__heading{
    background-color: var(--clr-blue);
    color: var(--clr-white);
    padding: 1em;
}

.modal__text{
    font-size: 1.2em;
    padding: 1em;
}

.modal__buttons-container{
    margin: auto auto 1em auto;
    width: 80%;
} 

.modal__button{
    margin-inline: 2em;
}

/* ------ modal article -------- */

.modal__heading--article{
    display: flex;
    justify-content: center;
}

.modal__heading--article p{
    cursor: pointer;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.modal__user{
    align-items: center;
    display: flex;
}

.modal__user img{
    height: 3.125em;
    margin: 0.5em;
    width: 3.125em;
}

.modal__article form{
    display: flex;
    flex-direction: column;
    margin: 1em auto;
    width: 90%;
}

.modal__button--article{
    margin-inline: auto;
    width: fit-content;
}


/* --------- loader -----------*/

.modal__loader{
    background-color: var(--clr-grey);
}


.modal__loader > *{
    background-color: var(--clr-white);
    box-shadow: 2px 2px 20px 5px var(--clr-black);
    position: fixed;
    text-align: center;
    top: 30vh;
    width: 80%;
}

.lds-roller {
    display: inline-block;
    position: relative;
    width: 100px;
    height: 100px;
  }

.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
  }

  .lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #000000;
    margin: -4px 0 0 -4px;
  }

  .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
  
  .lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
  }

  .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }

  .lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
  }

  .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }

  .lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
  }

  .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }

  .lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
  }

  .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }

  .lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
  }

  .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
  }

  .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
  }

  .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }

  .lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
  }

  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}

/* -------------  page home  ----------------- */


/* ----- post article -----------*/
.articles__post{
    background-color: var(--clr-white);
    box-shadow: 1px 1px 20px 1px var(--clr-black);
    border-radius: 1em;
    display: flex;
    margin: 1.4em auto;
    padding: 0.5em;
    width: 90%;
}

.articles__post--img{
    height: 2em;
    margin-right: 0.5em;
    width: 2em;
}

.articles__post--button{
    border-radius: 1em;
    border: 1px solid var(--clr-black);
    background-color: var(--clr-grey);
    cursor: pointer;
    text-align: left;
    opacity: 0.7;
    width: 90%;
}

.articles__post--button:hover{
    opacity: 1;
}
/* --------- articles ------- */
.articles__container{
    margin: 1.4em auto;
    width: 90%;
}

.article{
    background-color: var(--clr-white);
    box-shadow: 1px 1px 20px 1px var(--clr-black);
    border-radius: 1em;
    margin-bottom: 1.4em;
    padding-bottom: 0.5em;
}

.article__header{
    align-items: center;
    background-color: var(--clr--red);
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0.5em;
}

.article__header--avatar{
    height: 3em;
    width: 3em;
}

.article__header--date{
    font-size: 0.8em;
    flex-basis: 100%;
    order: 1;
    text-align: center;
}

.article__body{
    align-items: center;
    border-bottom: 2px solid var(--clr-blue);
    display: flex;
    flex-direction: column;
}

.article__body--heading{
    margin: 0.5em auto;
}

.article__body--img{
    margin: 0.5em auto;
    max-width: 70%;
}

.article__body--text{
    margin: 1em auto;
    width: 80%;
    word-wrap: break-word;
}

.article__footer{
    margin: 0.5em auto;
    width: 90%;
}

.article__footer--stats{
    display: flex;
    border-bottom: 1px solid var(--clr--red);
    justify-content: space-evenly;
    margin: 1em auto;
    padding-bottom: 0.5em;
}

.article__footer--comments{
    cursor: pointer;
}

.article__footer--likes, .article__footer--dislikes{
    display: flex;
}

/* .article__footer--likes img, .article__footer--dislikes img{
    cursor: pointer;
    height: 1.25em;
    margin-right: 0.3em;
    width: 1.25em;
} */

.fa-thumbs-up, .fa-thumbs-down{
    cursor: pointer;
    margin-left: 0.3em;
}

.thumbs--liked::before{
    color: var(--clr-green);
    font-weight: 900;
}

.thumbs--disliked::before{
    color: var(--clr--red);
    font-weight: 900;
}

.article__footer--comment{
    background-color: var(--clr-grey);
    border-radius: 1em;
    display: flex;
    margin: 0.5em auto;
    padding: 0.5em;
}

.article__footer--avatar{
    height: 2rem;
    margin-right: 0.5em;
    width: 2rem;
}

.article__footer--form{
    width: 100%;
}

.article__footer--form input{
    border: none;
    border-radius: 0.5em;
    height: 2rem;
    padding-left: 0.56em;
    width: 100%;
}

/* ----------- comment --------*/

.comment{
    background-color: var(--clr-lightGrey);
    border-radius: 0.5em;
    margin: 1em auto;
    padding: 0.5em;
    width: 90%;
}

.comment__header{
    align-items: center;
    display: flex;
    justify-content: space-between;
  
}

.comment__header--avatar{
    height: 30px;
    margin-right: 0.5em;
    width: 30px;
}

.comment__header--modify{
    cursor: pointer;
    font-size: 0.8em;
}

.comment__header--delete{
    cursor: pointer;
    font-size: 0.8em;
}

.comment__body{
    display: flex;
    margin: 1em auto;
    width: 90%;
}

.comment__body--form{
    width: 100%;
}

.comment__body--form textarea{
    font-size: 1em;
    resize: none;
    width: 100%;
}



.comment__footer{
    align-items: center;
    display: flex;
    justify-content: space-around;
    margin: auto;
    width: 80%;
}

/* ---------- Carousel -------- */

.avatar__carousel{
    height: 170px;
    position: relative;
}

.avatar__carousel--img{
    height: 150px;
    margin: 10px auto;
    opacity: 0;
    position: absolute;
    width: 150px;
    left: 50%;
    transform: translate(-50%);
}

.avatar__carousel--img.active{
    opacity: 1;
    z-index: 99;
}

.avatar__carousel--img.prev {
    z-index: 2;
    opacity: 0.25;
    transform: translate(-115%);
}
  
.avatar__carousel--img.next {
    z-index: 2;
    opacity: 0.25;
    transform: translate(15%);
}

.arrows__container--auth, .arrows__container--profil{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%); 
    width: 220px;
    z-index: 100;
}

.avatar__carousel--arrow{
    background-color: var(--clr-blue);
    border-radius: 50%;
    color: var(--clr-white);
    cursor: pointer;
    font-size: 2em;
    height: 50px;
    margin: auto;
    opacity: 0.75;
    padding-top: 3px;
    position: relative;
    text-align: center;
    width: 50px;
}


.avatar__carousel--arrow:hover{
    opacity: 1;
}


.avatar__carousel--arrow:nth-child(1) {
    float: left;
  }
  
.avatar__carousel--arrow:nth-child(2) {
    float: right;
} 

@media (min-width:700px){
    .auth__forms{
        display: flex;
        justify-content: center;
        min-height: 65vh;
    }

    .auth__form{
        width: 80%;
    }
}

@media (min-width:900px){

    .auth__form{
        width: 70%;
    }
    .auth__form form{
        width: 70%;
    }
    .modal__delete--profil > *{
        width: 80%
    }

    .home__section{
        border-radius: 2em;
        height: fit-content;
        width: 20%;
    }


}
@media (min-width:1440px){
    .auth__form{
        width: 60%;
    }
    .auth__form form{
        width: 60%;
    }

    .profil__infos{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 1.4em;
    }

    .profil__hello{
        flex-basis: 100%;
    }

    .profil__avatar{
        margin-left: auto;
        width: 40%;
    }

    .profil__form{
        margin-left: 0;
        margin-right: auto;
        width: 40%;
    }
    
    .profil__password{
        width: 60%;
    }

    .profil__delete{
        flex-basis: 70%;
    }

    .avatar__carousel--profil .avatar__carousel--img{
        left: 36%;
    }

    .arrows__container--profil{
        left: 36%;
    }
}

@media (min-width:1800px){
    .auth__form{
        width: 50%;
    }
    .auth__form form{
        width: 60%;
    }
    .modal__delete--profil > *{
        width: 70%
    }
}
/* -------------- footer --------------- */

/* -------page index --------- */
.footer__auth{
    background-color: var(--clr-darRed);
    color: var(--clr-white);
    padding: 0.7em;
}

footer ul{
    margin: 0.7em auto;
    width: fit-content;
}

footer li {
    padding-bottom: 0.2em;
}

footer h2 {
    text-align: center;
}

/* ------ page profil ----------- */

.footer__profil, .footer__home{
    background-color: var(--clr-white);
    box-shadow: 1px 1px 20px 1px var(--clr-black);
    padding: 0.7em;
}

.footer__profil ul, .footer__home ul{
    border: 1px solid var(--clr-grey);
    padding: 1em;
}

.footer__logo{
    float: left;
    height:3.125em;
    width:3.125em;
}

@media (min-width:900px){
    .footer__profil, .footer__home{
        border-radius: 2em;
        border-bottom-left-radius: 0;
        height: fit-content;
        margin: 1.5em;
        width: 30%;
    }

    .footer__profil ul, .footer__home ul{
        padding-bottom: 5em;
    }

    .footer__logo{
        height: 2em;
        width: 2em;
    }
}

@media (min-width:1440px){
    .footer__profil, .footer__home{
    width: 25%;
    }
}

@media (min-width:1800px){
    .footer__profil, .footer__home{
    width: 20%;
    }
}